{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}
<header>
    <h1>{{ SITENAME }}:
        <strong>Blog</strong></h1>
</header>
<navigationheader>
    <hr class="top"/>
    <nav>
        <ul>
        {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
        {% endfor %}
        </ul>
    </nav>
    <hr class="bottom"/>
</navigationheader>
<article>
    <h2>{{ article.title }}</h2>
    <p class="subtitle">
    by {{ article.author }}<br>
    {% if not HIDE_DATE %}{{ article.locale_date }}{% endif %}
    </p>
    {{ article.content }}
    <p class="feedback">If you have feedback on this post, please let me know!
      Send me a <a href="https://twitter.com/intent/tweet?text=.%20@{{ TWITTER_USERNAME }}%20{{ SITEURL }}/{{ article.url }}">tweet</a> or an email at mvdoc.gr<span
style="display:none">obfuscatemyemail!</span>@dartmouth.edu.</p>
</article>
{% endblock %}
