{% extends "base.html" %}
{% block title %}{{ super() }} : {{ page.title }}{% endblock %}
{% block content %}
<header>
    <h1>{{ SITENAME }}:
        <strong>{{ page.title }}</strong></h1>
</header>
<navigationheader>
    <hr class="top"/>
    <nav>
        <ul>
        {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
        {% endfor %}
        </ul>
    </nav>
    <hr class="bottom"/>
</navigationheader>
<article>
{% if articles %}
    {% for article in (articles_page.object_list if articles_page else articles) %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} ({{ article.locale_date }})</a>
            {{ article.summary }}
    {% endfor %}
{% else %}
    <h3>No articles yet! Please write one.</h3>
{% endif %}
</article>
{% endblock %}
