{% extends "page.html" %}
{% block title %} Publications {% endblock %}
{% block content %}
<header>
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>:
        <a href="{{ SITEURL }}/pages/publications.html" id="page-title">Publications</a></h1>
</header>
<navigationheader>
    <nav>
        <ul>
        {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
        {% endfor %}
        {% if categories|length > 1 %}
            <li>:: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
        {% endif %}
        {% if tags|length > 1 %}
            <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
        {% endif %}
        </ul>
    </nav>
</navigationheader>
<div id="articlelist">
    {% with article_types = [('article', 'Articles'), ('techreport', 'Technical Reports'), ('misc', 'Theses')] %}
    {% for article_type, article_title in article_types %}
      {% if publications[article_type] %}
        <strong>{{ article_title }}</strong>
          <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in publications[article_type] %}
              <li id="{{ key }}">{{ text }}</li>
            {% endfor %}
          </ul>
       {% endif %}
    {% endfor %}
    {% endwith %}
</div>
{% endblock %}
