{% extends "page.html" %}
{% block title %} Publications {% endblock %}
{% block content %}
<header>
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>:
        <a href="{{ SITEURL }}/pages/publications.html" id="page-title">Publications</a></h1>
</header>
<navigationheader>
    <nav>
        <ul>
        {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
        {% endfor %}
        {% if categories|length > 1 %}
            <li>:: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
        {% endif %}
        {% if tags|length > 1 %}
            <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
        {% endif %}
        </ul>
    </nav>
</navigationheader>
<article>
    <ul>
    {% for key, year, text, bibtex, pdf, slides, poster in publications %}
    <li id="{{ key }}">{{ text }}
    {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster)] %}
    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
    {% endfor %}
    </li>
    {% endfor %}
    </ul>
</article>
{% endblock %}
